.container{
    padding: 30rem;
    /* background: linear-gradient(46deg, black, #875b5b00); */
    font-family: monospace;
  }
/*   
  h1{
      color: #fff;
  }
   */
  .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 100px;
      grid-gap: 10px;
    }
    
    .items {
      display: grid;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      background-color: #ccc;
      padding: 10px;
      border-radius: 15px;
      box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
    }
  
    .item{
      background-color: #9ffffa;
      border-radius: 15px;
      box-shadow: inset 5px 5px 12px #575757, 5px 5px 12px rgb(235 235 235 / 16%);
  }