.container{
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  font-family: monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  font-size: 16px;
}

.items {
  background-color: #ccc;
  padding: 10px;
  border-radius: 15px;
  box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
  font-weight: 600;
}

.item{
background-color: #ffaeaeb3;
border-radius: 15px;
font-weight: 600;
}