.flex-container {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 22px;
}
body{
    font-family: monospace;
}

.flex-item {
  flex-basis: 15%;
  background-color: #001173;
  color: #fff;
  padding: 10px;
  box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
  border-radius: 10px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.flex2, .flex4, .flex6{
    color: #000;
    background-color: #fff;
}