/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 400px;
    width: 600px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  } */

  /* .item{
    background-color: #5591eb;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
  } */

  .container {
    column-count: 4;
    column-gap: 20px;
    height: 100vh;
  }
  
  .item {
    background-color: #5591eb;
    margin-bottom: 20px;
    padding: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
  }