.container{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    justify-content: center;
    border: 2px solid#000;
    padding: 10px;
    gap: 8px;
    margin: 7rem;
}

.item{
    width: 100px;
    height: 100px;
    background-color: aqua;
}