body{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    background-color: #88888857;
}

h1{
    font-family: monospace;
}

.List{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.list-item{
    display: grid;
    align-items: center;
    justify-content: center;

    box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
    background:rgb(155 226 255); 
    color:#fff; 
    font-size:1.4rem; 
    height:100px; 
    list-style-type: none;
    color: #000;
    border-radius: 10px;
}