.box1 {
  background-color: red;
}
.box2 {
  background-color: green;
}
.box3 {
  background-color: yellow;
  height: 150px;
}
.box4 {
  background-color: orange;
}
.box5 {
  background-color: pink;
}
.box6 {
  background-color: blue;
}
.box7 {
  background-color: green;
}
.box8 {
  background-color: skyblue;
}

  .container1 {
    font-family: sans-serif;
    background-color: black;
    font-size: 30px;
    margin: 100px;
    width: 700px;
    height: 600px;
  
    /* CSS GRID */
    display: grid;
    grid-template-columns: 125px 200px 125px;
    grid-template-rows: 250px 100px;
    gap: 30px;
  
    /* aligning tracks inside container */
  
    justify-content: center;
    /* justify-content: space-between; */
    align-content: center;
  
    /*  aligning items inside cells: moving items around inside cells */
    /* align-items: center; */
    /* justify-items: center; */
    /* display: none; */
  }