body{
    font-family: monospace;
    margin: 5rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 5fr 20fr 5fr;
    grid-gap: 10px;
    height: 720px;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #e3ffd7;
}

nav{
    background-color: #cdd3ff;
}

.contents{
    background-color: 	#ddc2ff;

}

aside{
    background-color: #cdd3ff;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #D3D3D3;
}

.items{
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 5px 12px #555, 5px 5px 12px rgb(235 235 235 / 16%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}


    